@model IEnumerable<AudioEmotion>

<h2>Joyful Songs</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Artist</th>
        <th>Rating</th>
    </tr>

    @foreach (var song in Model)
    {
        <tr>
            <td>@song.songName</td>
            <td>@song.artistName</td>
            <td>@song.emotionValue</td>
        </tr>

    }
</table>
