
@{
    ViewData["Title"] = "About";
}

<h1>@ViewData["Title"]</h1>

<p>
    The goal of this project is to quantify the emotion of a song as accurately as possible, based purely on sonic analysis. We decided to
    use two of Spotify's audio features to measure these emotional values: valence and energy. Spotify defines <b>valence</b> as "a measure from
    0.0 to 1.0 describing the musical positiveness conveyed by a track." Songs with valence values closer to 1 sound more positive (e.g. happy,
    cheerful, euphoric), while those closer to 0 sound more negative (e.g. sad, depressed, angry). <b>Energy</b>, ranging from 0.0 to 1.0,
    is defined by Spotify as "a perceptual measure of intensity and activity." Tracks with energy values closer to 1 typically "feel fast,
    loud, and noisy." Several factors contribute to Spotify's measurement of energy, including "dynamic range, perceived loudness, timbre,
    onset rate, and general entropy." Considering these two different audio features, we decided to create four different emotional categories:
    <ul>
        <li>
            <b>Joyful</b>: Displaying high valence and high energy.
        </li>
        <li>
            <b>Sad</b>: Displaying low valence and low energy.
        </li>
        <li>
            <b>Angry</b>: Displaying low valence and high energy.
        </li>
        <li>
            <b>Mellow</b>: Displaying high valence and low energy.
        </li>
    </ul>
    To assign a quantitative emotional value to each song we analyzed, we wrote four different geometric mean formulas (one for each emotion).
    They are listed below:
    
</p>


