@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Musicalytics</h1>
    <p>Thanks for stoppnig by! Select how you are feeling today to see some of the best songs in history to match your mood.</p>
</div>

