@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Musicalytics</h1>
    <p>Thanks for stopping by! Select how you are feeling today to find some songs that fit your mood.</p>
</div>

